﻿@model AccountErrorModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "ManagerAccount Error";
    ViewData["Description"] = "SpiritLingSystem Manager Error";
    ViewData["Keywords"] = "manager,login";
    ViewData["Author"] = "SpiritLing";
}
@section Heads{
    <link rel="stylesheet" href="~/css/Account/Login.css">
}

<h1>项目出现问题请联系管理员</h1>
<p>@Model.RequestId</p>
<p>@Model.Message</p>
<a href="mailto:spirit_ling_info@163.com">spirit_ling_info@163.com</a>