﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using SpiritLingSystem.Site.IdentityServer.i18n
@inject IStringLocalizer<AccountResource> _localizer
@model ManagerAccountLogin
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "ManagerAccount Login";
    ViewData["Description"] = "SpiritLingSystem Manager Account Login";
    ViewData["Keywords"] = "manager,login";
    ViewData["Author"] = "SpiritLing";
}

@section Heads{
    <link rel="stylesheet" href="~/css/Account/Login.css">
}

@section Scripts{
    <script src="~/js/Account/Login.js"></script>
}

<h1>@_localizer["ManagerLoginTitle"]</h1>
<br/>
@if (Model.IsError)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var item in ViewContext.ViewData.ModelState)
        {
            if (item.Value.Errors.Any() && item.Key == "CheckOverall")
            {
                <p>@Html.Raw(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</p>
            }
        }
    </div>
}
<form class="LoginForm contact-form row" id="LoginForm" asp-action="Login">
    <input type="hidden" asp-for="ReturnUrl" name="ReturnUrl"/>
    <div class="col-lg-12 mb-4">
        <div class="form-floating">
            <input class="form-control form-control-lg light-300" type="text" name="LoginName" asp-for="LoginName" autocomplete="off" placeholder="登录名"/>
            <label for="LoginName light-300">登录名</label>
            <span class="invalid-feedback" asp-validation-for="LoginName"></span>
        </div>
    </div>
    <div class="col-lg-12 mb-4">
        <div class="form-floating">
            <input class="form-control form-control-lg light-300l" type="password" name="LoginPassword" asp-for="LoginPassword" autocomplete="off" placeholder="登录密码"/>
            <label for="LoginPassword light-300">密码</label>
            <span class="invalid-feedback" asp-validation-for="LoginPassword"></span>
        </div>
    </div>
    <div class="col-lg-12 mb-4">
        <button type="submit" class="btn btn-primary" id="submitBtn">登录</button>
    </div>
    <input type="hidden" asp-for="BrowserInfo" name="BrowserInfo"/>
    <input type="hidden" asp-for="BrowserFingerprint" name="BrowserFingerprint"/>
    <input type="hidden" asp-for="UserAgent" name="UserAgent"/>
</form>