﻿@model ManagerAccountLogin
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "ManagerAccount Index";
    ViewData["Description"] = "SpiritLingSystem Manager Account Index";
    ViewData["Keywords"] = "manager,login";
    ViewData["Author"] = "SpiritLing";
}
@section Heads{
    <link rel="stylesheet" href="~/css/ManagerAccount/Login.css">
}
@section Scripts{
    <script src="~/js/ManagerAccount/Login.js"></script>
}

<div id="LoginWarp">
    <div id="LoginMain">
        <p>Index</p>
    </div>
</div>