﻿@model ManagerAccountLogin
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "ManagerAccount Login";
    ViewData["Description"] = "SpiritLingSystem Manager Account Login";
    ViewData["Keywords"] = "manager,login";
    ViewData["Author"] = "SpiritLing";
}
@section Heads{
    <link rel="stylesheet" href="~/css/ManagerAccount/Login.css">
}
@section Scripts{
    <script src="~/js/ManagerAccount/Login.js"></script>
}

<div id="LoginWarp">
    <div id="LoginMain">
        <h1>Manager Login</h1>
        <br />
        <form class="LoginForm" id="LoginForm" asp-action="Login" >
            <div class="mb-3">
                <label for="LoginName" class="form-label">登录名</label>
                <input class="form-control" type="text" name="LoginName" asp-for="LoginName" autocomplete="off" required placeholder="登录名/手机/邮箱"/>
            </div>
            <div class="mb-3">
                <label for="LoginPassword" class="form-label">密码</label>
                <input class="form-control" type="password" name="LoginPassword" asp-for="LoginPassword" autocomplete="off" required placeholder="登录密码"/>
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
        </form>
    </div>
</div>