﻿@using Microsoft.Extensions.Configuration
@using SpiritLingSystem.Site.IdentityServer.Extensions
@inject IConfiguration Configuration
@{
    var jsConfig = Configuration.Get<AppSettingConfigPartial>().JavaScript.ToArray();
    var styleConfig = Configuration.Get<AppSettingConfigPartial>().StyleSheet.ToArray();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpiritLingIdentityServer</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta name="author" content="@ViewData["Author"]">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/common/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/common/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/common/favico/favicon-16x16.png">
    <link rel="manifest" href="~/images/common/favico/site.webmanifest">
    @foreach (var t in styleConfig)
    {
        @:<link rel="stylesheet" href="@t.Url" data-name="@t.Name">
    }
    @* <link rel="stylesheet" href="~/lib/bootstrap-theme/flex-start.css"> *@
    <link rel="stylesheet" href="~/lib/bootstrap-theme/purple_buzz/templatemo.css">
    <link rel="stylesheet" href="~/lib/bootstrap-theme/purple_buzz/custom.css">
    <link rel="stylesheet" href="~/css/Common/Basic.css">
    @await RenderSectionAsync("Heads", required: false)
</head>
<body>
    
    <div id="LoginWarp">
        <div id="LoginMain">
           @RenderBody()
        </div>
    </div>
    
    @foreach (var t in jsConfig)
    {
        @:<script src="@t.Url" data-name="@t.Name"></script>
    }
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>