﻿@using Microsoft.Extensions.Configuration
@using SpiritLingSystem.Site.IdentityServer.Extensions
@inject IConfiguration Configuration
@{
    var jsConfig = Configuration.Get<AppSettingConfigPartial>().JavaScript.ToArray();
    var styleConfig = Configuration.Get<AppSettingConfigPartial>().StyleSheet.ToArray();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/common/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/common/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/common/favico/favicon-16x16.png">
    <link rel="manifest" href="~/images/common/favico/site.webmanifest">
    @for (int i = 0; i < styleConfig.Length; i++)
    {
        <link rel="stylesheet" href="@styleConfig[i].Url" data-name="@styleConfig[i].Name">
    }
    @await RenderSectionAsync("Heads", required: false)
</head>
<body>
    @RenderBody()
    @for (int i = 0; i < jsConfig.Length; i++)
    {
        <script src="@jsConfig[i].Url" data-name="@jsConfig[i].Name" async></script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>