html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.invalid-feedback.field-validation-error {
  display: block;
}

#LoginWarp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/common/login_bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
#LoginWarp #LoginMain {
  background-color: #FFF;
  padding: 44px 55px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/*# sourceMappingURL=Basic.css.map */
